*.acn
*.acr
*.alg
*.aux
*.bak
*.backup
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.pdfsync
*.snm
*.synctex.gz
*.toc
root.pdf
main.pdf
main.rtf
